config {
  /*trigger_types=[ 
		//add any non-predefined trigger types.
		//predefined types are as follows:
		//"on_enter", "on_exit", "on_bump", "on_atop", "on_fall_onto", "on_fall_through",
		//"on_chomp", "on_unchomp", "on_tug_left", "on_tug_right", "on_tug_back",
		//"on_timer" //every N seconds
	]*/
	move_flags=[ //"normal" is always defined.
		"wet",
		"ghost"
	]
	load_status=["salamander"] //all status files
}